<div id="game_wrapper">

	<%= render :partial => "shared/navbar" %>

	<div class="row">

		<div class="col-md-push-2 col-md-4">
			<div class="game_positioning">
				<div id="game"></div>
			</div>
		</div>
		
		<div class="col-md-push-2 col-md-5">
			<div class="chatbox">
				<iframe  class="mani" title="Shoutbox" src="http://shoutbox.widget.me/window.html?uid=il7vk216" frameborder="2" scrolling="auto"></iframe>
			</div>
		</div>
	
	</div>
</div>
